django
requests_oauthlib
grammarbot
django-oauth-toolkit
ion_oauth
django-guardian
djangorestframework
celery
django-windows-tools
django-celery
nltk
django-ckeditor
pytz
scikit-learn
httplib
urlextract
strsimpy
unidecode
eventlet