{% extends "base.html" %}
{% block content %}

    {% if essays|length == 0 %}

        <h2>No graded assignments. Search for an assignment here to grade all of the essays in that assignment:</h2>

        <div class="wrapper">
            <div class="search-bar mt-sm-2 mr-2 offset-md-2 col-md-8">
                <form method="get">
                    <input type="text" class="form-control" name="q" id="id_q" placeholder="Search for Essay">
                </form>
            </div>
        </div>

    {% else %}

        {% for essay in essays %}
            <h2><a href="{% url 'teacher_detail' essay.pk%}">{{ essay.title }}</a></h2>
            <h3> Assignment: {{essay.assignment}}</h3>
            <h4> By: {{essay.author}}</h4>
            <h6> Created on {{ essay.created_on }}&emsp;&emsp;&emsp;{% if essay.citation_type != "None" %} Type: <b>{{essay.citation_type}}</b>  {% endif %}</h6>
            <p>{{ essay.marked_body }}</p>
            <hr>
        {% endfor %}

    {% endif %}

{% endblock %}
