{% extends "base.html" %}

{% block content %}
        
    {% if user.is_authenticated %}
        <div class="wrapper">
            <div class="search-bar mt-sm-2 mr-2 offset-md-2 col-md-8">
                <form method="get">
                    <input type="text" class="form-control" name="q" id="id_q" placeholder="Search for Essay">
                </form>
            </div>
        </div>
    {% endif %}

    <div class="col-md-8 offset-md-2" style="padding-top: 2em;">
        <h1>Essays</h1>
        <hr>
        {% if user.is_authenticated %}
            {% if essays|length == 0 %}
                {% if search == False %}
                    <h3>No essays yet, why don't you submit one?</h3>
                {% else %}
                    <h3>No results based on your search</h3>
                {% endif %}
            {% endif %}
        {% else %}
            <h4 style="padding-bottom: 1em;">You are not logged in. Please log in to submit and view your essays.</h4>
        {% endif %}
        
        {% if user %}
            {% for essay in essays %}
                <h2><a href="{% url 'detail' essay.pk%}" style="display:inline-block;">{{ essay.title }}</a><a style="float:right;">{% if essay.graded %}{{essay.grade_numerator}}/{{essay.grade_denominator}}{% endif%}</a></h2>
                <h5> Assignment: {{essay.assignment}}</h5>
                <h5> By: {{essay.author}}</h5>
                <h5> For: {{essay.teacher}}</h5>
                <h6> Created on {{ essay.created_on }}&emsp;&emsp;&emsp;{% if essay.citation_type != "None" %} Type: <b>{{essay.citation_type}}</b>  {% endif %}</h6>
                <hr>
            {% endfor %}
        {% endif %}
    </div>

    <script type="text/javascript">
        document.getElementById("id_q").value = "{{query}}"
    </script>
{% endblock %}