{% extends "base.html" %}

{% block head %}
	<style>
		.menu{
			padding-top: 12.5%;
			padding-left: 5%;
			background-color: white;
			color: blue;
			float:left;
			width:25%;
			align: middle;
			display: inline-block;
			vertical-align: middle;
			text-decoration: none;
		}
		.option{
			width :70%;
			height:50px;
			border:1px solid #fae5e4;
			height:50px;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			text-decoration: none;
		}
		.current{
			background-color: #fafdff;
			color: black;
			border-left: 2px solid #ff5349;
		}
	</style>
{% endblock %}

{% block content %}
	<div>
		<div class="menu">
			<a href="{% url 'settings_info' %}" style="text-decoration:none">
			<div class="option">
				<span><h5>Your Info</h5></span>
			</div>
			</a>
			<a href="{% url 'settings_teachers' %}" style="text-decoration:none">
			<div class="option current">
				<span><h5>Change Teachers</h5></span>
			</div>
			</a>
			<a href="{% url 'settings_password' %}" style="text-decoration:none">
			<div class="option">
				<span><h5>Change Password</h5></span>
			</div>
			</a>
		</div>
		<div class="col-md-7 offset-md-3 container" style="padding-top: 2em; width:70%; text-align: left;">
			<h3><b>Change Teachers:</b></h3>
			<pre>     </pre>
			<form action="submit" method="post">

				{{ form }}
				
				<div style="margin-top:5px;" >
					<button type="form" class="btn btn-primary" value="{{ next }}">Submit</button>
				</div>
			</form>
		</div>
	</div>

{% endblock %}
