{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated %}

        <div class="col-md-8 offset-md-2" style="padding-top: 2em;">
            <h1>Essay</h1>
            <hr>

            <h2>{{ essay.title }}</a></h2>
            <h5> Assignment: {{essay.assignment}}</h5>
            <h5> By: {{essay.author.get_full_name}} </h5>
            <h6> Created on {{ essay.created_on }}</h6>
            {% if essay.graded %}
            <p>{{ essay.marked_body | safe}}</p>
            {% else %}
            <p>{{ essay.body | linebreaks}}</p>
            {% endif %}
            <hr>

            {% for comment in comments %}
                <div class="comment">
                <h6 style="display: inline-block;">{{comment.author.get_full_name}}</h6>
                <h6 style="display:inlnie-block; float: right;">{{comment.created_on}}</h6>
                <p>{{comment.body}}</p>
                </div>
            {% endfor %}

            <form action="{% url 'detail' essay.pk%}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button id="btn" onclick="interval()" type="submit" class="btn btn-primary" value="{{ next }}">
                    Comment
                </button>
            </form>

    {% else %}
        <h4 style="padding-bottom: 1em;">You are not logged in. Please log in to submit or view your essays.</h4>
    {% endif %}
        </div>
{% endblock %}