{% extends "base.html" %}

{% block content %}

    <div class="wrapper">
        <div class="search-bar mt-sm-2 mr-2 offset-md-2 col-md-8">
            <form method="get">
                <input type="text" class="form-control" name="q" id="id_q" placeholder="Search for Essay">
            </form>
        </div>
    </div>

    <div class="col-md-8 offset-md-2" style="padding-top: 2em;">
        <h1>Assignments</h1>
        <hr>

        {% if user.is_authenticated %}
        
            {% if assignments|length == 0 %}
                {% if search == False %}
                    <h3>None of your students submitted an Essay</h3> 
                {% else %}           
                    <h3>No results based on your search</h3>
                {% endif %} 
            {% endif %}
    
            {% for assignment in assignments %}
                <h2><a href="{% url 'teacher_detail' assignment.pk%}">{{ assignment.assignment_name }}</a></h2>
                <h6> {{ assignment.assignment_description }}</h6>
                <hr>
            {% endfor %}

        {% else %}
            <h4 style="padding-bottom: 1em;">You are not logged in. Please log in to submit or view your essays.</h4>
        {% endif %}
    </div>
{% endblock %}