{% extends "base.html" %}
{% block content %}

        <div class="wrapper">
            <div class="search-bar mt-sm-2 mr-2 offset-md-2 col-md-8">
                <form method="get">
                    <input type="text" class="form-control" name="q" id="id_q" placeholder="Search for Essay">
                </form>
            </div>
        </div>

        <div class="col-md-8 offset-md-2" style="padding-top: 2em;">
        {% if assignment == "None" %}
            <h3>{{ error }}</h3>
        {% else %}
            <h2 style="display:inline-block;">Essays for assignment - {{ assignment.assignment_name }}</h2> <form action="{% url 'grade' assignment.pk %}" style="display:inline-block; float:right;"><div style="margin-top:5px;" ><button type="submit" class="btn btn-primary" onclick="interval()" id="btn">Grade all Essays</button></div>

			</form>
        {% endif %}
        <hr>
        {% if essays|length == 0 %}
            <h3>None of your students submitted and essay for this assignment</h3>
            <hr>
        {% else %}
        {% for essay in essays %}
            <h2><a href="{% url 'teacher_detail_essay' assignment.pk essay.pk%}" style="display:inline-block;">{{ essay.title }}</a>{% if essay.graded == False %}<a style="color:red; display:inline-block; float: right;">Not Graded</a>{% else %}<a style="color:green; display:inline-block; float: right;">Graded</a>{% endif %}</h2>
            <h4> By: {{essay.author.get_full_name}}</h4>
            <h6> Created on {{ essay.created_on }}&emsp;&emsp;&emsp;{% if essay.citation_type != "None" %} Type: <b>{{essay.citation_type}}</b>  {% endif %}</h6>
            <p>{{ essay.body | slice:":400"}}</p>
            <hr>
        {% endfor %}
        {% endif %}
        </div>

{% endblock %}
